# Comma-separated user ids in telegram
BOT_ADMINS=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
PLUGIN_KICK_NOT_CONFIRMED_USER_AFTER=180
METRICS_PORT=9090
METRICS_HOST=0.0.0.0
METRICS_MAP_HOST=127.0.0.1
IMAGE_NAME=pd-antispam
IMAGE_VERSION=0.5
POSTGRES_DSN=postgresql://postgres:4f2ae2a2-6f6b-45e0-970e-b948f7a881e6@localhost/postgres
