Привет, [{{new_member.full_name | escape}}](tg://user?id={{new_member.id}})\!

Для того, чтобы находиться в этом канале пройди антиспам и нажми кнопку с таким эмоджи: {{confirm_code}}

Ты будешь удален через некоторое время если не пройдете антиспам\-проверку:\(
